{
	"arrowParens": "avoid",
	"singleQuote": true,
	"semi": true,
	"importOrder": [
		"^tests/utils$",
		"^react$",
		"<THIRD_PARTY_MODULES>",
		"",
		"^(monitoring|notifications|store)/(.*)$",
		"^(account|memberships|project|site|terrasoApi)/(.*)$",
		"",
		"^config$",
		"",
		"^[./]"
	],
	"plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
